{% load i18n %}
{% if has_permission %}
<div class="mb-3">
    <form method="post" action="{% url 'plugins:netbox_dashy:ping_view'}"></form>
    <label class="form-label">Ping</label>
    <div class="row g-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="Target" />
      </div>
      <div class="col-auto">
        <button type='submit' class="btn btn-icon" aria-label="Button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="10" cy="10" r="7" />
            <line x1="21" y1="21" x2="15" y2="15" />
          </svg>
        </a>
      </div>
    </div>
    </form>
  </div>
  
{% elif not has_permission %}
  <div class="text-muted text-center">
    <i class="mdi mdi-lock-outline"></i> {% trans "No permission to view this content" %}.
  </div>
{% else %}
  <div class="text-danger text-center">
    <i class="mdi mdi-alert"></i> {% trans "Unable to load content. Invalid view name" %}: <span class="font-monospace">{{ viewname }}</span>
  </div>
{% endif %}
